@font-face {
    font-family: 'janda';
    src: url('font/GERALDINE\ PERSONAL\ USE.ttf') format('truetype');
    /* Ganti path/to/font.ttf dengan path sesuai dengan lokasi font di proyek Anda */
}
@font-face {
    font-family: 'america';
    src: url('font/American\ Champion.ttf') format('truetype');
    /* Ganti path/to/font.ttf dengan path sesuai dengan lokasi font di proyek Anda */
}
@font-face {
    font-family: 'savage';
    src: url('font/Savage\ Arcade.ttf') format('truetype');
    /* Ganti path/to/font.ttf dengan path sesuai dengan lokasi font di proyek Anda */
}
@font-face {
    font-family: 'payback';
    src: url('font/Payback.otf') format('truetype');
    /* Ganti path/to/font.ttf dengan path sesuai dengan lokasi font di proyek Anda */
}
@font-face {
    font-family: 'mercy';
    src: url('font/Mercy\ Christole.ttf') format('truetype');
    /* Ganti path/to/font.ttf dengan path sesuai dengan lokasi font di proyek Anda */
}
@font-face {
    font-family: 'cali';
    src: url('font/Calinastiya\ demo.ttf') format('truetype');
    /* Ganti path/to/font.ttf dengan path sesuai dengan lokasi font di proyek Anda */
}