body {
  overflow: hidden;
}

/* Sembunyikan scrollbar di Webkit */
::-webkit-scrollbar {
  display: none;
}

/* Sembunyikan scrollbar di Mozilla */
::-moz-scrollbar {
  display: none;
}

*{
  margin: 0;
  box-sizing: border-box;
  border-radius: 5%;
}
.content{
  display: none;
}

@media (min-width: 320px) and (max-width: 480px) {
  
  /* CSS */
  
}

@media (min-width: 641px) {
  /* Atur lebar kontainer utama */
  .content {
    width: 100%; /* Sesuaikan lebar sesuai kebutuhan */
    margin: 0 auto; /* Membuat konten berada di tengah */
    max-width: 480px; /* Membatasi lebar konten agar tidak terlalu lebar pada layar laptop */
  }

  /* Atur lebar elemen-elemen tertentu jika diperlukan */
  .example-element {
    width: 100%; /* Sesuaikan lebar elemen sesuai kebutuhan */
  } 
 .lingkaran{
  margin-left: -17px;
}
#gallery h2{
  margin-bottom: 20%;
}
#story p{
  font-size: 2.2vw;
  line-height: bold;
}
#story h3{
  margin-left: 15px;
  font-size: 2vw;
  margin-bottom: px;
  font-family: '';
}
#story h2{
  margin-bottom: 10px;
  font-family: 'mercy';
  font-size: 4vw;
}
#groom h3{
  font-size: 9.5vw;
  margin-top: -50px;
  font-family: 'jung';
}
#groom p{
  font-size: 4.9vw;
}
#bridge h3{
  font-size: 8vw;
  margin-top: -50px;
  font-family: 'jung';
}
#bridge p{
  font-size:4.9vw;
}
#qoutes p{
  margin-top: 5%;
  font-size: 2.7vw;
}

#maps .kotak-maps{
  margin: 5% auto 10%;
  margin-left: %;
}
.teks-thanks{
  margin-top: 60%;
  text-align: center;
  /* font-family: cursive; */
  justify-content: center;
  
}
.teks-thanks p{
  font-size: 1.3rem;
}
.teks-thanks h3{
  font-size: 1.3rem;
  font-family: 'america';
  
}
.teks-thanks h1{
  font-size: 2.5rem;
  font-family: 'america';
  
}
#thanks .kotak2{
  margin-top: 35%;
  margin-bottom: 10px;
  width: calc(64% - 5px);
  height: 1%;
}
.kotak2{
  margin-top: %;
  margin-bottom: px;
  width: calc(64% - 5px);
  height: 1%;
}

.kotak2 img{
  width: 155%;
  height: 25vh;
  border: 2px solid black;
  justify-items: center;
}
#filter.filter img {
  border-top-left-radius: 10%; /* Set border radius top left */
  border-top-right-radius: 10%; /* Set border radius top right */
  overflow: hidden; /* Pastikan gambar tidak meluap keluar dari radius */
  width: 100%; /* Sesuaikan lebar foto */
  height: 75%; /* Sesuaikan tinggi foto */
  margin-right:px;
  justify-items: center;
}
#layout::after {
  content: ''; /* Membuat lapisan overlay */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(img/pngwing.com__1_-removebg-preview.png); /* Gradient overlay warna merah marun */
  /* background-image ;: url(img/BS\ \(323\ of\ 508\).jpg); */
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.scrollmenu {
  width: 55%; /* Lebar scroll menu */
  background-color: #ff03035b;
  overflow-x: auto;
  white-space: nowrap;
  position: fixed;
  bottom: 0;
  left: 50%; /* Menjadikan scroll menu berada di tengah */
  transform: translateX(-50%);
  display: none;
  z-index: 10; /* Nilai z-index yang lebih rendah untuk menempatkannya di bawah konten utama */
  color: #ffffff;
  border-radius: ;
}

.scrollmenu a i {
  display: block;
}

.scrollmenu a {
  display: inline-block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  color: #ffffff;
}

div.scrollmenu a:hover {
  background-color: #ffffff9d;
}

/* Hapus aturan CSS untuk media query */


/* Hapus aturan CSS untuk media query */

}

/* Untuk layar dengan lebar kurang dari atau sama dengan 480px */
@media(max-width: 640px) {
  .lingkaran{
    margin-left: -17px;
  }
  #story p{
    font-size: 5vw;
    line-height: bold;
  }
  #story h3{
    margin-left: 15px;
    font-size: 3.5vw;
    margin-bottom: px;
    font-family: 'punk';
  }
  #story h2{
    margin-bottom: 10px;
    font-family: 'punk';
    font-size: 4vw;
  }
  #groom h3{
    font-size: 3rem;
    margin-top: -50px;
    font-family: 'jung';
  }
  #groom p{
    font-size: 8.5vw;
  }
  #bridge h3{
    font-size: 3rem;
    margin-top: -45px;
    font-family: 'jung';
  }
  #bridge p{
    font-size: 8.5vw;
  }
  #qoutes p{
    font-size: 4.5vw;
  }

  #maps .kotak-maps{
    margin: 5% auto 10%;
    margin-left: -5%;
  }
  .teks-thanks{
    margin-top: 5%;
    text-align: center;
    /* font-family: cursive; */
    justify-content: center;
    
  }
  .teks-thanks p{
    font-size: 1.3rem;
  }
  .teks-thanks h3{
    font-size: 1.3rem;
    font-family: 'america';
    
  }
  .teks-thanks h1{
    font-size: 2.5rem;
    font-family: 'america';
    
  }
  #thanks .kotak2{
    margin-top: 35%;
    margin-bottom: 10px;
    width: calc(64% - 5px);
    height: 1%;
  }
  .kotak2{
    margin-top: %;
    margin-bottom: px;
    width: calc(64% - 5px);
    height: 1%;
  }
  
  .kotak2 img{
    width: 155%;
    height: 25vh;
    border: 2px solid black;
    justify-items: center;
  }
  #filter.filter img {
    border-top-left-radius: 10%; /* Set border radius top left */
    border-top-right-radius: 10%; /* Set border radius top right */
    overflow: hidden; /* Pastikan gambar tidak meluap keluar dari radius */
    width: %; /* Sesuaikan lebar foto */
    height: %; /* Sesuaikan tinggi foto */
    margin-right:px;
    justify-items: center;
  }
  #layout::after {
    content: ''; /* Membuat lapisan overlay */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(img/pngwing.com__1_-removebg-preview.png); /* Gradient overlay warna merah marun */
    /* background-image ;: url(img/BS\ \(323\ of\ 508\).jpg); */
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
  .scrollmenu {
   width: 100%; /* Mengisi lebar layar */
    background-color: #ff03035b;
    overflow-x: auto;
    white-space: nowrap;
    position: fixed;
    bottom: 0;
    display: none;
    z-index: 10; /* Mengurangi nilai z-index agar lebih rendah dari konten utama */
    color: #ffffff;
    
}

.scrollmenu a i {
    display: block;
   
}

.scrollmenu a {
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    color: #ffffff;
}

div.scrollmenu a:hover {
    background-color: #ffffff9d;
}

  
}

@media (min-width: 320px) and (max-width: 480px) {
  .lingkaran{
    margin-left: -17px;
  }
  #story p{
    font-size: 5vw;
    line-height: bold;
  }
  #story h3{
    margin-left: 15px;
    font-size: 8.6vw;
    margin-bottom: px;
    font-family: 'penut';
  }
  #story h2{
    margin-bottom: 10px;
    font-family: 'penut';
    font-size: 6vw;
  }
  #groom h3{
    font-size: 3rem;
    margin-top: -50px;
    font-family: 'jung';
  }
  #groom p{
    font-size: 8.5vw;
  }
  #bridge h3{
    font-size: 3rem;
    margin-top: -45px;
    font-family: 'jung';
  }
  #qoutes p{
    font-size: 4.9vw;
  }

  #maps .kotak-maps{
    margin: 5% auto 1%;
    
  }
  .teks-thanks{
    margin-top: %;
    text-align: center;
    /* font-family: cursive; */
    justify-content: center;
    
  }
  .teks-thanks p{
    font-size: 1.3rem;
  }
  .teks-thanks h3{
    font-size: 1.3rem;
    font-family: 'america';
    
  }
  .teks-thanks h1{
    font-size: 2.5rem;
    font-family: 'america';
    
  }
  #thanks .kotak2{
   
    width: calc(64% - 5px);
    height: 1%;
  }
  .kotak2{
    margin-top: 3%;
    width: calc(64% - 5px);
    height: 1%;
  }
  
  .kotak2 img{
    width: 155%;
    height: 25vh;
    border: 2px solid black;
    justify-items: center;
  }
  #filter.filter img {
    border-top-left-radius: 10%; /* Set border radius top left */
    border-top-right-radius: 10%; /* Set border radius top right */
    overflow: hidden; /* Pastikan gambar tidak meluap keluar dari radius */
    width: 80%; /* Sesuaikan lebar foto */
    height: %; /* Sesuaikan tinggi foto */
    margin-left:10%;
    justify-items: center;
  }
  #layout::after {
    content: ''; /* Membuat lapisan overlay */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(img/pngwing.com__1_-removebg-preview.png); /* Gradient overlay warna merah marun */
    /* background-image ;: url(img/BS\ \(323\ of\ 508\).jpg); */
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
  .scrollmenu {
   width: 100%; /* Mengisi lebar layar */
    background-color: #ff03035b;
    overflow-x: auto;
    white-space: nowrap;
    position: fixed;
    bottom: 0;
    display: none;
    z-index: 10; /* Mengurangi nilai z-index agar lebih rendah dari konten utama */
    color: #ffffff;
    
}

.scrollmenu a i {
    display: block;
   
}

.scrollmenu a {
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    color: #ffffff;
}

div.scrollmenu a:hover {
    background-color: #ffffff9d;
}
.gallery h2{
  margin-bottom: 10%;
  font-size: 3rem;
  margin-bottom: 5%;
  font-family: 'janda';
}
}
.opening {
  position: relative;
  min-height: 100vh;
  overflow: hidden; 
  /* display: flex; */
  justify-content: center;
  align-items: flex-end;
  padding: 20px; 
  
}


.opening::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
  background-image: url(img/BS\ \(323\ of\ 508\).jpg);
}

.opening p{
  margin: 10px; /* Menghapus margin bawaan dari elemen */
  text-align: left; /* Mengatur teks ke kiri */
  color: rgb(255, 255, 255);
  /* margin-bottom: 125% ; */
  font-size: 1.6rem;
  font-family: 'Times New Roman';
}
.opening h2 {
  margin: 10px; /* Menghapus margin bawaan dari elemen */
  text-align: left; /* Mengatur teks ke kiri */
  color: rgb(255, 255, 255);
  /* margin-bottom: 125% ; */
  font-size: 2.3rem;
  font-family: 'catbrother';
  line-height: bold;
}
.opening p:first-child {
}
.awalan {
  display: block;
  position: relative;
  min-height: 100vh;
  overflow: hidden; 
  /* display: flex; */
  justify-content: center;
  align-items: flex-end;
  padding: 30px; 
  overflow-x: hidden;
  
}
.awalan h4{
  color: #ffffff;
}
.awalan h3,
.awalan h2 {
  text-align: center;
  color: white;
}
.awalan::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
  background-image: url(img/BS\ \(283\ of\ 508\).jpg);
 
}
.kotak-opening{
  margin-top: 110%;
}

.kotak-beranda {
  margin-top: 10px;
  width: 70%;
  height: 11vh;
  border-radius: 7%;
  background-color: rgba(34, 22, 22, 0.444);
  text-align: center;
  gap: 12px;
  color: #ffffff;
  text-align: center;
  margin-left: 15%;
}
.kotak-beranda h4 {
  margin: 0; /* Menghapus margin default */
  font-family:'Times New Roman';
  font-size: 1.3rem;
  padding-top: 5%;
  margin-bottom: 10%;
}
.beranda h2{
  /* font-family: 'impact'; */
  font-size: 2.2rem;
}
.beranda h3{
  /* font-family: 'impact'; */
  font-size: 1.5rem;
}
.button-container {
  /* display: flex; */
  margin-right: ;
  margin-top: 20px;
  margin-left: px;
}

.button {
  background-color: #F9C5D1;
  padding: 10px 20px;
  color: #ffffff;
  border: none;
  border-radius: 5%; /* Menentukan sudut bulat */
  cursor: pointer;
  transition: background-color 0.3s;

}

.button:hover {
  background-color: #ee4d4d;
}


.beranda {
  position: relative;
  min-height: 100vh;
  overflow: hidden; 
  /* display: flex; */
  justify-content: center;
  align-items: flex-end;
  padding: 30px; 
  overflow-x: hidden;
  
}
.beranda h4{
  color: #ffffff;
}
.beranda h3,
.beranda h2 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: 'america';
}
.beranda::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
  background-image: url(img/BS\ \(283\ of\ 508\).jpg);
 
}
.layout::after {
  content: ''; /* Membuat lapisan overlay */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(img/pngwing.com__1_-removebg-preview.png); /* Gradient overlay warna merah marun */
  /* background-image ;: url(img/BS\ \(323\ of\ 508\).jpg); */
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.qoutes {
  position: relative;
  min-height: 100vh;
  overflow: hidden; 
  /* display: flex; */
  justify-content: center;
  align-items: flex-end;
  padding: 25px; 
  /* margin-top: 100px; */
}


.qoutes::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
  background-image: url(img/Desain\ tanpa\ judul_20240220_114822_0000.png);
 
}
.foto-qoutes img {
  margin-top: -10px;
  width: 100%; /* Mengisi foto ke dalam kotak */
  height: 350px; /* Mengisi tinggi kotak dengan foto */
  object-fit: cover; /* Membuat foto mengisi kotak tanpa merubah rasio aspeknya */
  border-top-left-radius: 40%; /* Membuat border radius hanya pada sisi atas kiri */
  border-top-right-radius: 40%; /* Membuat border radius hanya pada sisi atas kanan */
}
.teks-qoutes{ 
  margin-top: 1%;
  display: block;
  line-height: 1.5;
 text-align: center;
}
.groom {
  position: relative;
  min-height: 100vh;
  overflow: hidden; 
  /* display: flex; */
  justify-content: center;
  align-items: flex-end;
  padding: 25px; 
  /* margin-top: 100px; */
}


.groom::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
  background-image: url(img/Desain\ tanpa\ judul_20240220_114822_0000.png);
 
}

.text-container {
  text-align: center;
  position: absolute;
  margin-top: 5%;
  width:90% ;
  color: #000000; /* Warna teks */ 
}

.foto-groom {
  margin-top: 40%;
  border-top-left-radius: 35%; /* Set border radius top left */
  border-top-right-radius: 35%; /* Set border radius top right */
  overflow: hidden; /* Pastikan gambar tidak meluap keluar dari radius */
  width: 300px; /* Sesuaikan lebar foto */
  height: 350px; /* Sesuaikan tinggi foto */
  margin: 1% auto 30px;
  justify-items: center;
  background-image: url('img/Faruq.jpeg'); /* Ganti dengan URL gambar yang sesuai */
  background-size: cover;
  background-position: center;
}

.bridge {
  position: relative;
  min-height: 100vh;
  overflow: hidden; 
  /* display: flex; */
  justify-content: center;
  align-items: flex-end;
  padding: 25px; 
  /* margin-top: 100px; */
}


.bridge::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
  background-image: url(img/Desain\ tanpa\ judul_20240220_114822_0000.png);
 
}

.foto-bridge {
  margin-top: 40%;
  border-top-left-radius: 35%; /* Set border radius top left */
  border-top-right-radius: 35%; /* Set border radius top right */
  overflow: hidden; /* Pastikan gambar tidak meluap keluar dari radius */
  width: 300px; /* Sesuaikan lebar foto */
  height: 350px; /* Sesuaikan tinggi foto */
  margin: 1% auto 30px;
  justify-items: center;
  background-image: url('img/WINDA\ AYU.jpg'); /* Ganti dengan URL gambar yang sesuai */
  background-size: cover;
  background-position: center;
}
.acara {
  position: relative;
  min-height: 100vh;
  overflow: hidden; 
  /* display: flex; */
  justify-content: center;
  align-items: flex-end;
  padding: 25px; 
  /* margin-top: 100px; */
  line-height: 1.2;
}


.acara::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
  background-image: url(img/Desain\ tanpa\ judul_20240220_114822_0000.png);
 
}
.acara1{
  margin-top: 43%;
}
.acara2{
  margin-top: 25%;
}
.acara h3{
  font-size: 1.6rem;
  font-weight: bold;

}
.acara p{
  font-size: 1.4rem;
}
.acara p1{
  font-size: 1.2rem;
}
.maps {
  position: relative;
  min-height: 100vh;
  overflow: hidden; 
  /* display: flex; */
  justify-content: center;
  align-items: flex-end;
  padding: 25px; 
  /* margin-top: 100px; */
}


.maps::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
  background-image: url(img/Desain\ tanpa\ judul_20240220_114822_0000.png);
 
}

.kotak-maps{
  /* margin-top: 45%; */
  border-top-left-radius: 20%; /* Set border radius top left */
  border-bottom-right-radius: 20%; /* Set border radius top right */
  overflow: hidden; /* Pastikan gambar tidak meluap keluar dari radius */
  width: 350px; /* Sesuaikan lebar foto */
  height: 250px; /* Sesuaikan tinggi foto */
  margin: 59px auto 30px;
  justify-items: center;
  background-image: url('img/WhatsApp\ Image\ 2024-02-21\ at\ 10.42.29.jpeg'); /* Ganti dengan URL gambar yang sesuai */
  background-size: cover;
  background-position: center;
  border-color: black;
}
.maps2{
  margin-top: 5%;
}
.alamat{
  margin-bottom: 25px;
}
.btn-bro{
  height: 20vh;
  width: 110px;
  background-color: rgb(185, 154, 154);
  color: azure;
}
.gallery {
  position: relative;
  min-height: 100vh;
  overflow: hidden; 
  /* display: flex; */
  justify-content: center;
  align-items: flex-end;
  padding: 25px; 
  /* margin-top: 100px; */
}


.gallery::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
  background-image: url(img/Desain\ tanpa\ judul_20240220_114822_0000.png);
 
}
.gallery-images12 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -5%;
}

.gallery-image12 {
  margin: 2px;
  width: calc(30% - 5px);
}
.gallery-images14 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-image14 {
  margin: 2px;
  width: calc(32% - 5px);
}
.gallery-image14 img {
  width: 100%;
  height: auto;
}
.gallery-image12 img {
  width: 100%;
  height: auto;
}
.gallery h2{
  margin-top: 10%;
  font-size: 3rem;
  margin-bottom: 5%;
  font-family: 'janda';
}
.gallery-image13 {
  margin: 2px;
  width: calc(67% - 6px);
  height: 1%;
}

.gallery-image13 img {
  width: 100%;
  height: auto;
}
.gallery-video13 {
  margin: 2px;
  width: calc(110% - 20px);
}

.gallery-video13 video {
  width: 100%;
  height: auto;
}
.story {
  position: relative;
  min-height: 100vh;
  overflow: hidden; 
  /* display: flex; */
  justify-content: center;
  align-items: flex-end;
  padding: 25px; 
  /* margin-top: 100px; */
}


.story::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
  background-image: url(img/Desain\ tanpa\ judul_20240220_114822_0000.png);
 
 
}
.lingkaran {
  height: 25px;
  width: 25px;
  background-color: #d000006b;
  border-radius: 50%;
  display: inline-block;
  margin-top: 0px;
  float: left; 
  
}

.garis {
  margin-top: 5px;
  border-left: 1px solid #838383;
  height: 250px;
  margin-left: 11px;
  /* float: left; Mengatur posisi elemen ke kiri */
  
}



.filter {
  position: relative;
  min-height: 100vh;
  overflow: hidden; 
  /* display: flex; */
  /* justify-content: center; */
  align-items: flex-end;
  padding: 25px; 
  /* margin-top: 100px; */
}


.filter::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -2;
  background-image: url(img/Desain\ tanpa\ judul_20240220_114822_0000.png);
 z-index: ;
}

.btn{
  height: 5vh;
  width: 100%;
  border-radius: 15%;
  background-color: rgba(255, 255, 225, 0.648);
  font-size: 1.2rem;
}
.thanks {
  position: relative;
  min-height: 100vh;

  /* display: flex; */
  justify-content: center;
  align-items: flex-end;
  padding: 25px; 
    flex-direction: column;
    align-items: center;
}

.thanks::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
  background-image: url(img/Desain\ tanpa\ judul_20240220_114822_0000.png);
 
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animated-element {
  animation: fadeIn 2s ease-out;
}
/* CSS */
@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.bawah-atas {
  animation: slideInFromTop 1.2s ease-out;
}
/* CSS */
@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.atas-bawah {
  animation: slideInFromBottom 1.2s ease-out;
}
/* CSS */
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.kanan-kiri {
  animation: slideInFromRight 1.2s ease-out;
}
/* CSS */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.kiri-kanan {
  animation: slideInFromLeft 1.2s ease-out;
}
@keyframes gerak-kanan-kiri {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-100%); /* Pindah ke kiri */
  }
  100% {
    transform: translateX(0%); /* Kembali ke posisi awal */
  }
}